<!--!EQUIPMENTS-->

<!-- addEquipmentModal Modal HTML -->
<div id="addEquipmentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/api/">
        <div class="modal-header">
          <h4 class="modal-title">Add Equipment to IAB</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
            />
          </div>
          <div class="form-group">
            <label>type</label>
            <select class="custom-select" id="type" required>
              <option value="2">Packaging</option>
              <option value="3">Utility</option>
              <option value="1">Processing</option>
              <option value="4">Quality</option>
              <option value="5">Other</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="button"
            class="btn btn-success"
            value="Add"
            onclick="addEquipment()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- editEquipmentModal Modal HTML -->
<div id="editEquipmentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">edit Equipment</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" id="id" class="form-control" hidden />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" class="form-control" required />
          </div>
          <div class="form-group">
            <label>type</label>
            <select class="custom-select" id="type" required>
              <option value="2">Packaging</option>
              <option value="3">Utility</option>
              <option value="1">Processing</option>
              <option value="4">Quality</option>
              <option value="5">Other</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="button"
            class="btn btn-info"
            value="Save"
            onclick="updateEquipment()"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function updateEquipment() {
    var name = $("#editEquipmentModal #name").val();
    var id = $("#editEquipmentModal #id").val();
    var type = $("#editEquipmentModal #type").children("option:selected").val();

    $.ajax({
      url: "http://127.0.0.1:3000/api/equipments/" + id,
      method: "patch",
      data: {
        name: name,
        type: type,
      },
      success: function (response) {
        $("#table").bootstrapTable("refresh");
        $("#editEquipmentModal").modal("toggle");
        Toast.fire({
          type: "success",
          title: "Product " + name + " updated successfully",
        });
      },
    });
  }
  function addEquipment() {
    var name = $("#addEquipmentModal #name").val();
    var type = $("#addEquipmentModal #type").children("option:selected").val();
    $.ajax({
      url: "http://127.0.0.1:3000/api/equipments/",
      method: "post",
      data: {
        name: name,
        type: type,
        site: "1",
      },
      success: function (response) {
        $("#table").bootstrapTable("refresh");
        $("#addEquipmentModal").modal("toggle");
        Toast.fire({
          type: "success",
          title: "Equipment " + name + " added successfully",
        });
      },
    });
  }
</script>

<!--!users-->

<!-- editUserModal Modal HTML -->
<div id="editUserModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">edit Account</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" id="id" class="form-control" hidden />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Department</label>
            <select class="custom-select" id="department" required>
              <option value="1">Production</option>
              <option value="2">Quality</option>
              <option value="3">Engineering</option>
              <option value="4">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" id="phone" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" id="email" class="form-control" required />
          </div>

          <div class="form-group">
            <label>Site</label>
            <select class="custom-select" id="site" required>
              <option value="1">IAB</option>
              <option value="2">MEDICEF</option>
              <option value="3">IAB & MEDICEF</option>
            </select>
          </div>
          <div class="form-group">
            <label>Account type</label>
            <select class="custom-select" id="type" required>
              <option value="PRODUCTION">Production</option>
              <option value="SUPERVISOR">Supervisor</option>
              <option value="MANAGER">Manager</option>
              <option value="ADMIN">Admin</option>
              <option value="READONLY">Read Only</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="button"
            class="btn btn-info"
            value="Save"
            onclick="updateUser()"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function updateUser() {
    var name = $("#editUserModal #name").val();
    var id = $("#editUserModal #id").val();
    var site = $("#editUserModal #site").children("option:selected").val();
    var type = $("#editUserModal #type").children("option:selected").val();
    var department = $("#editUserModal #department")
      .children("option:selected")
      .val();
    var phone = $("#editUserModal #phone").val();
    var email = $("#editUserModal #email").val();
    $.ajax({
      url: "http://127.0.0.1:3000/api/users/" + id,
      method: "patch",
      data: {
        name: name,
        department: department,
        phone: phone,
        email: email,
        access: {
          site: site,
          type: type,
        },
      },
      success: function (response) {
        $("#table").bootstrapTable("refresh");
        $("#editUserModal").modal("toggle");
        Toast.fire({
          type: "success",
          title: name + "'s account updated successfully",
        });
      },
    });
  }
</script>
<!--!PRODUCTS-->

<!-- addProductModal Modal HTML -->
<div id="addProductModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/api/">
        <div class="modal-header">
          <h4 class="modal-title">Add Product</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="button"
            class="btn btn-success"
            value="Add"
            onclick="addProduct()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- editProductModal Modal HTML -->
<div id="editProductModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">edit Product</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" id="id" class="form-control" hidden />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="button"
            class="btn btn-info"
            value="Save"
            onclick="updateProduct()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function updateProduct() {
    var name = $("#editProductModal #name").val();
    var id = $("#editProductModal #id").val();
    $.ajax({
      url: "http://127.0.0.1:3000/api/products/" + id,
      method: "patch",
      data: {
        name: name,
      },
      success: function (response) {
        $("#table").bootstrapTable("refresh");
        $("#editProductModal").modal("toggle");
        Toast.fire({
          type: "success",
          title: "Product " + name + " updated successfully",
        });
      },
      error: function (request, error) {
        Toast.fire({
          type: "error",
          title: "Problem accured, try again later",
        });
      },
    });
  }
  function addProduct() {
    var name = $("#addProductModal #name").val();

    $.ajax({
      url: "http://127.0.0.1:3000/api/products/",
      method: "post",
      data: {
        name: name,
        site: 1,
      },

      success: function (response) {
        $("#table").bootstrapTable("refresh");
        $("#addProductModal").modal("toggle");
        Toast.fire({
          type: "success",
          title: "Product " + name + " added successfully",
        });
      },
      error: function (e) {
        //var resp = error.responseJSON.msg;
        Toast.fire({
          type: "error",
          title: "Problem accured, try again later ",
        });
      },
    });
  }
</script>
