<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hikma | Equipments</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/dist/img/hikmaLogo2.png" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- BS4 Tables -->
    <link
      href="/assets\plugins\bootstrap-table\dist\bootstrap-table.min.css"
      rel="stylesheet"
    />
    <!-- SweetAlert2 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="assets/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <style>
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
      }
      .card-header#headingOne h2.mb-0 {
        text-align-last: justify;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('partials/navBar') %>

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('partials/sideBar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Equipments</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">equipments</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <% if (user.access.site=="ALL" || user.access.site=='IAB') { %>

            <div class="col-12">
              <!-- /.card -->

              <div class="card card-outline card-danger">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>IAB</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div id="toolbar">
                    <button
                      id="addIAB"
                      class="btn btn-block btn-outline-success"
                    >
                      <i class="glyphicon glyphicon-add"></i> Add new equipment
                      to IAB
                    </button>
                  </div>
                  <table
                    id="table"
                    data-toolbar="#toolbar"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-show-footer="true"
                    data-url="http://127.0.0.1:3000/api/iab/equipments/"
                    data-response-handler="responseHandler"
                    data-show-print="true"
                  ></table>
                </div>
              </div>
            </div>
            <% } %> <% if (user.access.site=='ALL' ||
            user.access.site=='MEDICEF') { %>

            <div class="col-12">
              <div class="card card-outline card-danger">
                <div class="card-header">
                  <div class="card-title"><h3>Medicef</h3></div>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div id="toolbarMedicef">
                    <button
                      id="addMEDICEF"
                      class="btn btn-block btn-outline-success"
                    >
                      <i class="glyphicon glyphicon-add"></i> Add new equipment
                      to Medicef
                    </button>
                  </div>
                  <table
                    id="medicef"
                    data-toolbar="#toolbarMedicef"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-show-footer="true"
                    data-url="http://127.0.0.1:3000/api/medicef/equipments/"
                    data-response-handler="responseHandler"
                    data-show-print="true"
                  ></table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <% } %>

            <!-- /.card -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- bootstrap-table  -->
    <script src="assets\plugins\bootstrap-table\dist\bootstrap-table.min.js"></script>
    <script src="assets\plugins\bootstrap-table\dist\extensions\export\bootstrap-table-export.min.js"></script>
    <script src="assets\plugins\bootstrap-table\dist\extensions\print\bootstrap-table-print.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets\plugins\jquery-tableExport\tableExport.min.js"></script>
    <script src="assets\plugins\jquery-tableExport\libs\jsPDF\jspdf.min.js"></script>
    <script src="assets\plugins\jquery-tableExport\libs\jsPDF-AutoTable\jspdf.plugin.autotable.js"></script>
    <!-- sweetalert2  -->
    <script src="/assets/plugins/sweetalert2/sweetalert2.js"></script>
    <!-- hikma dashboard  -->
    <script src="/assets/dist/js/pages/dashboard.js"></script>

    <!-- hikma App -->
    <script src="assets/dist/js/adminlte.min.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
      $("#equipmentsNav").addClass("active");
      $("#managementNav").addClass("active");
      var $table = $("#table");
      var $medicefTable = $("#medicef");

      var $addIAB = $("#addIAB");
      var $addMEDICEF = $("#addMEDICEF");
      function responseHandler(res) {
        $.each(res.rows, function (i, row) {
          row.state = $.inArray(row._id, selections) !== -1;
        });
        return res;
      }

      function operateFormatter(value, row, index) {
        return [
          '<div class="btn-group btn-group-sm">',
          ' <a href="#" class="btn btn-info" id="edit"><i class="fas fa-edit"></i></a>',
          '<a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>',
          "</div>",
        ].join("");
      }

      window.operateEvents = {
        "click .btn-info": function (e, value, row, index) {
          $("#editEquipmentModal #name").val(row.name);
          //$("#editEquipmentModal #type").val(row.type.toLowerCase());
          $("#editEquipmentModal #id").val(row._id);

          $("#editEquipmentModal").modal("toggle");
        },
        "click .btn-danger": function (e, value, row, index) {
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-success",
              cancelButton: "btn btn-danger",
            },
            buttonsStyling: false,
          });

          swalWithBootstrapButtons
            .fire({
              title: "Are you sure ?",
              text: row.name + "  will be deleted !",
              icon: "warning",
              showCancelButton: true,
              confirmButtonText: "Yes, delete it!",
              cancelButtonText: "No, cancel!",
              reverseButtons: true,
            })
            .then((result) => {
              if (result.value) {
                $.ajax({
                  url: "http://127.0.0.1:3000/api/iab/equipments/" + row._id,
                  method: "delete",
                  success: function (response) {
                    $("#table").bootstrapTable("refresh");
                    swalWithBootstrapButtons.fire(
                      "Deleted!",
                      row.name + " has been deleted.",
                      "success"
                    );
                  },
                });
              } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
              ) {
                swalWithBootstrapButtons.fire(
                  "Cancelled",
                  "this equipment is safe",
                  "error"
                );
              }
            });
        },
      };
      window.operateEventsMedicef = {
        "click .edit": function (e, value, row, index) {
          $("#editEquipmentMedicefModal #name").val(row.name);
          //$("#editEquipmentModal #type").val(row.type.toLowerCase());
          $("#editEquipmentMedicefModal #id").val(row._id);

          $("#editEquipmentMedicefModal").modal("toggle");
        },
        "click .remove": function (e, value, row, index) {
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-success",
              cancelButton: "btn btn-danger",
            },
            buttonsStyling: false,
          });

          swalWithBootstrapButtons
            .fire({
              title: "Are you sure ?",
              text: row.name + "  will be deleted !",
              icon: "warning",
              showCancelButton: true,
              confirmButtonText: "Yes, delete it!",
              cancelButtonText: "No, cancel!",
              reverseButtons: true,
            })
            .then((result) => {
              if (result.value) {
                $.ajax({
                  url:
                    "http://127.0.0.1:3000/api/medicef/equipments/" + row._id,
                  method: "delete",
                  success: function (response) {
                    $("#table").bootstrapTable("refresh");
                    swalWithBootstrapButtons.fire(
                      "Deleted!",
                      row.name + " has been deleted.",
                      "success"
                    );
                  },
                });
              } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
              ) {
                swalWithBootstrapButtons.fire(
                  "Cancelled",
                  "this equipment is safe",
                  "error"
                );
              }
            });
        },
      };

      function totalTextFormatter(data) {
        return "Total";
      }

      function totalNameFormatter(data) {
        return data.length;
      }

      function initTable() {
        $table.bootstrapTable("destroy").bootstrapTable({
          exportTypes: ["json", "xml", "csv", "txt", "sql", "excel", "pdf"],
          exportDataType: "all",
          exportOptions: {
            fileName: "equipments",
            ignoreColumn: ["operate"],
            jspdf: {
              format: "a4",
              margins: { left: 10, right: 10, top: 20, bottom: 20 },
            },
          },

          columns: [
            {
              title: "Item ID",
              field: "_id",
              align: "center",
              valign: "middle",
              visible: false,
              printIgnore: true,
            },

            {
              field: "name",
              title: "Equipment Name",
              sortable: true,
              footerFormatter: totalTextFormatter,
              align: "center",
            },
            {
              field: "type",
              title: "Type",
              sortable: true,
              align: "center",
              footerFormatter: totalNameFormatter,
            },

            {
              field: "operate",
              title: "Item Operate",
              align: "center",
              clickToSelect: false,
              events: window.operateEvents,
              formatter: operateFormatter,
              printIgnore: true,
            },
          ],
        });

        $medicefTable.bootstrapTable("destroy").bootstrapTable({
          exportTypes: ["json", "xml", "csv", "txt", "sql", "excel", "pdf"],
          exportDataType: "all",
          exportOptions: {
            fileName: "equipments",
            ignoreColumn: ["operate"],
            jspdf: {
              format: "a4",
              margins: { left: 10, right: 10, top: 20, bottom: 20 },
            },
          },

          columns: [
            {
              title: "Item ID",
              field: "_id",
              align: "center",
              valign: "middle",
              visible: false,
              printIgnore: true,
            },

            {
              field: "name",
              title: "Equipment Name",
              sortable: true,
              footerFormatter: totalTextFormatter,
              align: "center",
            },
            {
              field: "type",
              title: "Type",
              sortable: true,
              align: "center",
              footerFormatter: totalNameFormatter,
            },

            {
              field: "operate",
              title: "Item Operate",
              align: "center",
              clickToSelect: false,
              events: window.operateEventsMedicef,
              formatter: operateFormatter,
              printIgnore: true,
            },
          ],
        });

        $addIAB.click(function () {
          $("#addEquipmentModal").modal("toggle");
        });
        $addMEDICEF.click(function () {
          $("#addEquipmentMedicefModal").modal("toggle");
        });
      }
      var Toast;
      $(function () {
        initTable();
        Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
        });
      });
    </script>
    <%- include('partials/modalsIAB') %> <%- include('partials/modalsMEDICEF')
    %>
  </body>
</html>
