<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hikma | Manuel Data entry</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/dist/img/hikmaLogo2.png" />
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- SweetAlert2 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"
    />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="assets/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <style>
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
      }
      .card-header#headingOne h2.mb-0 {
        text-align-last: justify;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('partials/navBar') %>

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('partials/sideBar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Manual Data Entry</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Manual Data Entry</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-12">
              <!--! Error msgs-->
              <% if(messages.info){%>
              <div class="alert alert-success alert-dismissible">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-hidden="true"
                >
                  ×
                </button>
                <h6><i class="icon fas fa-check"></i> Alert!</h6>
                <%= messages.info %>
              </div>

              <%}%> <% if(messages.error){%>
              <div class="alert alert-warning alert-dismissible">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-hidden="true"
                >
                  ×
                </button>
                <h6><i class="icon fas fa-exclamation-triangle"></i> Alert!</h6>
                A problem has accured please try again later !
              </div>

              <%}%>
              <!-- /.card -->
              <% if (user.site_id==1 || user.site_id==3) { %>

              <div class="card card-outline card-danger" id="iab">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>IAB</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form
                    role="form"
                    action="/api/ManuelDataEntry/"
                    method="POST"
                    name="manuelDataEntry"
                  >
                    <div class="card-body">
                      <input
                        type="text"
                        class="form-control"
                        name="site"
                        value="1"
                        hidden
                      />
                     

                      <div class="form-group">
                        <label for="datePicker">Date</label>
                        <input
                          type="date"
                          id="datePicker"
                          name="date"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="operatorID">Operator</label>
                        <input
                        type="text"
                        class="form-control"
                        id="operatorID"
                        name="operatorID"
                      />
                      </div>
                      <div class="form-group">
                        <label for="productSelect">Product</label>
                        <select
                          class="form-control select2 select2-danger"
                          data-dropdown-css-class="select2-danger"
                          style="width: 100%;"
                          id="productSelect"
                          name="productSelect"
                        >
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label for="equipmentSelect">Equipment</label>
                        <select
                          class="form-control select2 select2-danger"
                          data-dropdown-css-class="select2-danger"
                          style="width: 100%;"
                          id="equipmentSelect"
                          name="equipmentSelect"
                        >
                        </select>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-4">
                          <label for="shiftStart">Shift start</label>
                          <div
                            class="input-group date"
                            id="shiftStart"
                            data-target-input="nearest"
                          >
                            <input
                              type="text"
                              class="form-control datetimepicker-input"
                              data-target="#shiftStart"
                              name="shiftStart"
                              value="7:30 AM"
                            />
                            <div
                              class="input-group-append"
                              data-target="#shiftStart"
                              data-toggle="datetimepicker"
                            >
                              <div class="input-group-text">
                                <i class="far fa-clock"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="shiftEnd">Shift end </label>
                          <div
                            class="input-group date"
                            id="shiftEnd"
                            data-target-input="nearest"
                          >
                            <input
                              type="text"
                              class="form-control datetimepicker-input"
                              data-target="#shiftEnd"
                              name="shiftEnd"
                              value="12:00 AM"
                            />
                            <div
                              class="input-group-append"
                              data-target="#shiftEnd"
                              data-toggle="datetimepicker"
                            >
                              <div class="input-group-text">
                                <i class="far fa-clock"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="shiftType">Shift type </label>
                        
                            
                            <select name="shiftType" id="shiftType" class="form-control">
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                              <option value="Full day">Full day</option>
                            </select>
                            
                            </div>
                          </div>
                        
                      

                      <div class="callout callout-danger">
                        <h5>Planned down time</h5>

                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Break</label>
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="break"
                              placeholder="min"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label"
                            >Preventive Maint.</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="PreventiveMaint"
                              placeholder="min"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label"
                            >Planned Down time</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="plannedDownTime"
                              placeholder="min"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label">other</label>
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="otherPlannedDownTime"
                              placeholder="min"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="callout callout-danger">
                        <h5>Unlpanned down time</h5>

                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Cleaning and end of run</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="CleaningAndEndOfRun"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for QVM</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wQVM"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Quality Validation</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="QualityValidation"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Maint</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wMaint"
                              placeholder="min"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Startup</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="startup"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >QVM Intervention</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="QVMIntervention"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Adjustments</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="adjustments"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Maint. Intervention</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="maintIntervention"
                              placeholder="min"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Materials</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wMaterials"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Lack of Electricity</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="lackOfElectricity"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Operators</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wOperators"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Lack of air</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="lackOfAir"
                              placeholder="min"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Quality</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wQuality"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Lack of Water</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="lackOFWater"
                              placeholder="min"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-6">
                          <label for="numberOfBreakdowns"
                            >Number of breakdowns
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="numberOfBreakdowns"
                            name="numberOfBreakdowns"
                            placeholder="Enter Number of breakdowns
                          "
                          />
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="plannedQty">Planned Qty </label>
                          <input
                            type="text"
                            class="form-control"
                            id="plannedQty"
                            name="plannedQty"
                            placeholder="Enter planned Qty"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-6">
                          <label
                            for="producedQty
                      "
                            >Produced Qty
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="producedQty"
                            name="producedQty"
                            placeholder="Enter produced Qty"
                          />
                        </div>
                        <div class="form-group col-sm-6">
                          <label
                            for="validatedSpeed
                      "
                            >Validated speed
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="validatedSpeed"
                            name="validatedSpeed"
                            placeholder="Enter Validated speed "
                          />
                        </div>
                      </div>


                      <div class="form-group">
                        <label
                          for="scarp
                      "
                          >Scarp
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="scarp"
                          name="scarp"
                          placeholder="Enter Scarp"
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="comment
                      "
                          >Comment
                        </label>
                        <textarea
                          class="form-control"
                          id="comment"
                          rows="2"
                          placeholder="Enter your comment"
                        ></textarea>
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
              </div>
              <% } %> <% if (user.site_id==2 || user.site_id==3) { %>

              <!--!medicef-->
              <div class="card card-outline card-danger" id="medicef">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>MEDICEF</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form
                    role="form"
                    action="/api/ManuelDataEntry/"
                    method="POST"
                    name="manuelDataEntryMedicef"
                  >
                    <div class="card-body">
                      <input
                        type="text"
                        class="form-control"
                        name="site"
                        value="2"
                        hidden
                      />
                      <input
                        type="text"
                        class="form-control"
                        name="operatorID"
                        value="<%= user.id %>"
                        hidden
                      />

                      <div class="form-group">
                        <label for="datePicker">Date</label>
                        <input
                          type="date"
                          id="datePicker"
                          name="date"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="productSelectMedicef">Product</label>
                        <select
                          class="form-control select2 select2-danger"
                          data-dropdown-css-class="select2-danger"
                          style="width: 100%;"
                          id="productSelectMedicef"
                          name="productSelect"
                        >
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="equipmentSelectMedicef">Equipment</label>
                        <select
                          class="form-control select2 select2-danger"
                          data-dropdown-css-class="select2-danger"
                          style="width: 100%;"
                          id="equipmentSelectMedicef"
                          name="equipmentSelect"
                        >
                        </select>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-6">
                          <label for="shiftStartMedicef">Shift start</label>
                          <div
                            class="input-group date"
                            id="shiftStartMedicef"
                            data-target-input="nearest"
                          >
                            <input
                              type="text"
                              class="form-control datetimepicker-input"
                              data-target="#shiftStartMedicef"
                              name="shiftStart"
                              value="7:30 AM"
                            />
                            <div
                              class="input-group-append"
                              data-target="#shiftStartMedicef"
                              data-toggle="datetimepicker"
                            >
                              <div class="input-group-text">
                                <i class="far fa-clock"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="shiftEndMedicef">Shift end </label>
                          <div
                            class="input-group date"
                            id="shiftEndMedicef"
                            data-target-input="nearest"
                          >
                            <input
                              type="text"
                              class="form-control datetimepicker-input"
                              data-target="#shiftEndMedicef"
                              name="shiftEnd"
                              value="11:30 PM"
                            />
                            <div
                              class="input-group-append"
                              data-target="#shiftEndMedicef"
                              data-toggle="datetimepicker"
                            >
                              <div class="input-group-text">
                                <i class="far fa-clock"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="callout callout-danger">
                        <h5>Planned down time</h5>

                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Break</label>
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="break"
                              placeholder="min"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label"
                            >Preventive Maint.</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="PreventiveMaint"
                              placeholder="min"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label"
                            >Planned Down time</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="plannedDownTime"
                              placeholder="min"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label">other</label>
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="otherPlannedDownTime"
                              placeholder="min"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="callout callout-danger">
                        <h5>Unlpanned down time</h5>

                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Cleaning and end of run</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="CleaningAndEndOfRun"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for QVM</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wQVM"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Quality Validation</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="QualityValidation"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Maint</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wMaint"
                              placeholder="min"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Startup</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="startup"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >QVM Intervention</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="QVMIntervention"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Adjustments</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="adjustments"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Maint. Intervention</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="maintIntervention"
                              placeholder="min"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Materials</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wMaterials"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Lack of Electricity</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="lackOfElectricity"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Operators</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wOperators"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Lack of air</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="lackOfAir"
                              placeholder="min"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Waiting for Quality</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="wQuality"
                              placeholder="min"
                            />
                          </div>
                          <label
                            for="staticEmail"
                            class="col-sm-2 col-form-label"
                            >Lack of Water</label
                          >
                          <div class="col-sm-1">
                            <input
                              type="number"
                              min="0"
                              class="form-control"
                              name="lackOFWater"
                              placeholder="min"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-6">
                          <label for="numberOfBreakdowns"
                            >Number of breakdowns
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="numberOfBreakdowns"
                            name="numberOfBreakdowns"
                            placeholder="Enter Number of breakdowns
                          "
                          />
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="plannedQty">Planned Qty </label>
                          <input
                            type="text"
                            class="form-control"
                            id="plannedQty"
                            name="plannedQty"
                            placeholder="Enter planned Qty"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-6">
                          <label
                            for="producedQty
                      "
                            >Produced Qty
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="producedQty"
                            name="producedQty"
                            placeholder="Enter produced Qty"
                          />
                        </div>
                        <div class="form-group col-sm-6">
                          <label
                            for="validatedSpeed
                      "
                            >Validated speed
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="validatedSpeed"
                            name="validatedSpeed"
                            placeholder="Enter Validated speed "
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group col-sm-6">
                          <label
                            for="maximalSpeed
                      "
                            >Maximal speed
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="maximalSpeed"
                            name="maximalSpeed"
                            placeholder="Enter Maximal Speed"
                          />
                        </div>
                        <div class="form-group col-sm-6">
                          <label
                            for="appliedSpeed
                      "
                            >Applied speed
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="appliedSpeed"
                            name="appliedSpeed"
                            placeholder="Enter Applied speed"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label
                          for="scarp
                      "
                          >Scarp
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="scarp"
                          name="scarp"
                          placeholder="Enter Scarp"
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="comment
                      "
                          >Comment
                        </label>
                        <textarea
                          class="form-control"
                          id="comment"
                          rows="2"
                          placeholder="Enter your comment"
                        ></textarea>
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
              <% } %>

              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="assets/plugins/select2/js/select2.full.min.js"></script>

    <!-- sweetalert2  -->
    <script src="/assets/plugins/sweetalert2/sweetalert2.js"></script>

    <!-- InputMask -->
    <script src="assets/plugins/moment/moment.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="assets\plugins\tempusdominus-bootstrap-4\js\tempusdominus-bootstrap-4.min.js"></script>

    <!-- hikma dashboard  -->
    <script src="/assets/dist/js/pages/dashboard.js"></script>
    <!-- hikma App -->
    <script src="assets/dist/js/adminlte.min.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
      Date.prototype.toDateInputValue = function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
      };
      $("#manuelDataNav").addClass("active");
      $("#navtree").removeClass("menu-open");
      var d;
      $(function () {
        $("#shiftStart").datetimepicker({
          format: "LT",
        });
        $("#shiftEnd").datetimepicker({
          format: "LT",
        });
        $("#shiftStartMedicef").datetimepicker({
          format: "LT",
        });
        $("#shiftEndMedicef").datetimepicker({
          format: "LT",
        });
        var data = $.ajax({
          url: "/api/products/1",
          dataType: "json",
          type: "GET",
          success: function (data) {
            var re = $.map(data, function (obj) {
              obj.id = obj.id;
              obj.text = obj.name;

              return obj;
            });

            $("#productSelect").select2({ data: re });
          },
        });
        var dataEquipment = $.ajax({
          url: "/api/equipments/1",
          dataType: "json",
          type: "GET",
          success: function (data) {
            var re = $.map(data, function (obj) {
              obj.id = obj.id;
              obj.text = obj.name;

              return obj;
            });

            $("#equipmentSelect").select2({ data: re });
          },
        });

        $("#iab #datePicker").val(new Date().toDateInputValue());
        //medicef
        var data = $.ajax({
          url: "/api/products/2",
          dataType: "json",
          type: "GET",
          success: function (data) {
            var re = $.map(data, function (obj) {
              obj.id = obj.id;
              obj.text = obj.name;

              return obj;
            });

            $("#productSelectMedicef").select2({ data: re });
          },
        });
        var dataEquipment = $.ajax({
          url: "/api/equipments/2",
          dataType: "json",
          type: "GET",
          success: function (data) {
            var re = $.map(data, function (obj) {
              obj.id = obj.id;
              obj.text = obj.name;

              return obj;
            });

            $("#equipmentSelectMedicef").select2({ data: re });
          },
        });
        $("#medicef #datePicker").val(new Date().toDateInputValue());
      });
    </script>
  </body>
</html>
