<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hikma | Reports</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/dist/img/hikmaLogo2.png" />
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css" />
    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="assets/plugins/daterangepicker/daterangepicker.css"
    />
    <!-- BS4 Tables -->
    <link
      href="/assets\plugins\bootstrap-table\dist\bootstrap-table.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- SweetAlert2 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="assets/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <style>
      img {
        border-radius: 4px;
        padding: 3px;
        height: 35px;
      }
      .iconn {
        margin-left: 0.05rem;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        text-align: center;
        width: 1.6rem;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('partials/navBar') %>

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('partials/sideBar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Reports</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">reports</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-12">
              <!-- /.card -->
              <% if (user.site_id==1 || user.site_id==3) { %>

              <div class="card card-outline card-danger" id="iab">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>IAB</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form role="form">
                    <div class="card-body">
                      <!-- Date range -->
                      <div class="form-group">
                        <label>Date range:</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="far fa-calendar-alt"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            class="form-control float-right"
                            id="reservation"
                          />
                        </div>
                        <!-- /.input group -->
                      </div>

                      <div class="form-group">
                        <label for="equipmentSelect">Equipment</label>
                        <select
                          class="form-control select2 select2-primary"
                          data-dropdown-css-class="select2-primary"
                          style="width: 100%;"
                          id="equipmentSelect"
                          name="equipmentSelect"
                        >
                        </select>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <center>
                      <input
                        type="button"
                        class="btn btn-primary btn-lg custom-control-inline"
                        id="performanceReport"
                        value="Performance report"
                      />
                      <input
                        type="button"
                        class="btn btn-primary btn-lg custom-control-inline"
                        id="downtimeReport"
                        value="Downtime report"
                      />

                      <!-- <a href="#"> <button 
                class="btn btn-primary btn-lg custom-control-inline" id="performanceReport"
              >
                <i class="iconn fa fa-users-cog"></i> Performance report
              </button></a>
              <button
                class="btn btn-primary btn-lg custom-control-inline"
              >
                <i class="iconn fa fa-business-time"></i> Downtime
                report
              </button>-->
                    </center>
                  </form>
                  <div id="toolbar"></div>
                  <table
                    id="table"
                    data-toolbar="#toolbar"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-print="true"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[5, 10, 25, all]"
                    data-show-footer="true"
                    data-url="http://127.0.0.1:3000/api/ManuelDataEntry/1"
                    data-response-handler="responseHandler"
                  ></table>
                </div>
              </div>
              <% } %> <% if (user.site_id==2 || user.site_id==3) { %>

              <!--!medicef-->
              <div class="card card-outline card-danger" id="medicef">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>MEDICEF</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form role="form">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="datePicker">Date</label>
                        <input
                          type="date"
                          id="datePicker"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="productSelect2">Product</label>
                        <select
                          class="form-control select2 select2-primary"
                          data-dropdown-css-class="select2-primary"
                          style="width: 100%;"
                          id="productSelect2"
                        >
                        </select>
                      </div>

                      <div class="form-group clearfix">
                        <div class="icheck-danger d-inline">
                          <input
                            type="checkbox"
                            checked=""
                            id="checkboxDanger1"
                          />
                          <label for="checkboxDanger1">
                            Waiting for Materials</label
                          >
                        </div>
                        <br />

                        <div class="icheck-danger d-inline">
                          <input type="checkbox" id="checkboxDanger2" />
                          <label for="checkboxDanger2">
                            Waiting for operators</label
                          >
                        </div>
                        <br />
                        <div class="icheck-danger d-inline">
                          <input type="checkbox" id="checkboxDanger3" />
                          <label for="checkboxDanger3">
                            Waiting for Quality
                          </label>
                        </div>
                        <br />
                        <div class="icheck-danger d-inline">
                          <input type="checkbox" id="checkboxDanger4" />
                          <label for="checkboxDanger4">
                            Waiting for QVM
                          </label>
                        </div>
                        <br />
                        <div class="icheck-danger d-inline">
                          <input type="checkbox" id="checkboxDanger5" />
                          <label for="checkboxDanger5">
                            Waiting for Maint.
                          </label>
                        </div>
                      </div>
                      <div class="form-group clearfix">
                        <div class="icheck-danger d-inline">
                          <input
                            type="checkbox"
                            checked=""
                            id="lackOfElectricity"
                          />
                          <label for="lackOfElectricity">
                            Lack of Electricity</label
                          >
                        </div>
                        <br />

                        <div class="icheck-danger d-inline">
                          <input type="checkbox" id="lackOfAir" />
                          <label for="lackOfAir"> Lack of comp.air</label>
                        </div>
                        <br />
                        <div class="icheck-danger d-inline">
                          <input type="checkbox" id="lackOfWater" />
                          <label for="lackOfWater">
                            Lack of water
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="numberOfBreakdowns"
                          >Number of breakdowns
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="numberOfBreakdowns"
                          placeholder="Enter Number of breakdowns
                  "
                        />
                      </div>
                      <div class="form-group">
                        <label for="plannedQty">Planned Qty </label>
                        <input
                          type="text"
                          class="form-control"
                          id="plannedQty"
                          placeholder="Enter planned Qty"
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="producedQty
              "
                          >Produced Qty
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="producedQty"
                          placeholder="Enter produced Qty"
                        />
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
              <% } %>

              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- bootstrap-table  -->
    <script src="assets\plugins\bootstrap-table\dist\bootstrap-table.min.js"></script>

    <script src="assets\plugins\bootstrap-table\dist\extensions\export\bootstrap-table-export.min.js"></script>
    <script src="assets\plugins\bootstrap-table\dist\extensions\print\bootstrap-table-print.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets\plugins\jquery-tableExport\tableExport.min.js"></script>
    <script src="assets\plugins\jquery-tableExport\libs\jsPDF\jspdf.min.js"></script>
    <script src="assets\plugins\jquery-tableExport\libs\jsPDF-AutoTable\jspdf.plugin.autotable.js"></script>
    <!-- Select2 -->
    <script src="assets/plugins/select2/js/select2.full.min.js"></script>

    <!-- sweetalert2  -->
    <script src="/assets/plugins/sweetalert2/sweetalert2.js"></script>

    <!-- date-range-picker -->
    <script src="/assets/plugins/moment/moment.min.js"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- ChartJS -->
    <script src="/assets/plugins/chart.js/Chart.min.js"></script>

    <!-- hikma dashboard  -->
    <script src="/assets/dist/js/pages/dashboard.js"></script>
    <!-- hikma App -->
    <script src="assets/dist/js/adminlte.min.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets\dist\js\report.js"></script>
    <!-- page script -->
    <script>
      $("#reportsNav").addClass("active");
      $("#navtree").removeClass("menu-open");
    </script>
  </body>
</html>
