<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Hello, Bootstrap Table!</title>

    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- SweetAlert2 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"
    />
    <!-- DataTables -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"
    />
    <style>
      #toolbar {
        margin: 0;
      }
      .like {
        size: 24px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <img
        src="http://192.168.43.135:8081/?action=stream"
        width="800"
        height="460"
      />
    </div>
    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="assets/plugins/select2/js/select2.full.min.js"></script>

    <!-- date-range-picker -->
    <script src="/assets/plugins/moment/moment.min.js"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- ChartJS -->
    <script src="assets/plugins/chart.js/Chart.min.js"></script>
    <!-- hikma App -->
    <script src="assets/dist/js/adminlte.min.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>
  </body>
</html>
